*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #30336b;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.price-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
}
.price-card{
    flex: 1;
    max-width: 360px;
    background-color: white;
    margin: 20px 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    color: #2d2d2d;
    transition: .3s linear;

}
.price-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}
.price-card:hover .price-card-header{
    box-shadow: 0 0 0 26em #0fbcf9;
}
.price{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2 linear;
}

.price sup, .price span{
    font-size: 22px;
    font-weight: 700;
}
.price-card:hover ,.price-card:hover  .price{
    color: #fff;
}
.price-card li{
    font-size: 16px;
    padding:  10px 0;
    text-transform: uppercase;
}
.order-btn{
display: inline-block;
margin-bottom: 40px;
margin-top: 80px;
border: 2px solid #0fbcf9;
color: #0fbcf9;
padding: 18px 40px;
border-radius: 8px;
text-transform: uppercase;
font-weight: 500;
transition: .3 linear;
}
.order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
}
@media screen and (max-width:1100px){
    .price-card{
        flex: 50%;
    }
}